<Configuration status="WARN" strict="true">

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">

            <PatternLayout

                    pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %-50c{3.} - %msg %n"/>

            <!--%d = date and time %t = thread name %level = log level %c = logger

            name %msg = log message %n = line separator -5 used to give 5 blank spaces

            {3.} used to shorten the logo name -->

        </Console>

        <File name="File" fileName="logfile.log">

            <PatternLayout

                    pattern="%d [%t] %-5level %-50c{3.} - %msg %n"/>

        </File>
        <appender name="rollingFile" class="org.apache.log4j.rolling.RollingFileAppender">
            <rollingPolicy
                    class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
                <param name="ActiveFileName" value="${LOG_DIR}/application.log" />
                <param name="FileNamePattern" value="${LOG_DIR}/application.%d{dd-MMM}.log.gz" />
            </rollingPolicy>
            <triggeringPolicy
                    class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
                <param name="MaxFileSize" value="10MB" />
            </triggeringPolicy>
            <layout class="org.apache.log4j.PatternLayout">
                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p - %m%n" />
            </layout>
        </appender>

    </Appenders>
    <Loggers>

        <Root level="info">

            <AppenderRef ref="Console"/>

            <AppenderRef ref="File"/>

        </Root>

    </Loggers>

</Configuration>